<div class="registration-container">
  <h2>User Registration</h2>
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Full Name:</label>
      <input type="text" id="name" formControlName="userFullName" />
    </div>

    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" id="password" formControlName="userPassword" />
    </div>

    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" id="email" formControlName="userEmail" />
    </div>

    <div class="form-group">
      <label for="contact">Contact:</label>
      <input type="text" id="contact" formControlName="userContact" />
    </div>

    <div class="form-group">
      <label for="passportNumber">Passport Number:</label>
      <input
        type="text"
        id="passportNumber"
        formControlName="passengerPassport"
      />
    </div>

    <!-- <div class="form-group">
      <label for="confirmPassword">Confirm Password:</label>
      <input
        type="password"
        id="confirmPassword"
        formControlName="confirmPassword"
      />
    </div> -->

    <button type="submit" [disabled]="registrationForm.invalid">
      Register
    </button>
  </form>
</div>
